main {
  display: grid;
  grid: 1fr
        4fr
        1fr 
        1fr / 
        1fr;
  gap: 0.5em
}


@media (min-width: 700px) {
  #photo {
    grid-row: span 3;
  }

  main {
    grid: repeat(3, 1fr) / 1fr 1fr;
  }
}