:root {
  --primary-color: #fff;
  --secondary-color: #000;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

html, body {
  height: 100%;
}

a, a:hover, a:visited {
  /* text-decoration: none; */
  color: var(--primary-color);
}

body {
  margin:0px 0.4em;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: Poppins;
  display: grid;
  align-content: center;
  justify-content: center;
  filter: drop-shadow(0 0 0.5em #fff);
}

img {
  display: inline;
  width: 3em;
  margin: 1em;
}

h1 {
  font-size: 3em;
  border: solid 0.07rem;
  padding: 0.3em;
  padding-right: 0.7em;
  margin: 0.3em;
  text-align: center;
}

h4 {
  font-family: Alata;
}

main {
  padding: 1em 2em;
  border: solid 0.07rem;
  justify-self: center;
  align-self: center;
  text-align: center;
  max-height: 100%;
  max-width: 95%;
}

@media (min-width: 1024px) {
  body {
    font-size: 1.7em;
  }
}
