* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background-image: url("/img/nebula.jpg");
  background-size: 100%;
  color: #fff;
  font-family: Poppins;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #fff;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

main, header {
  background-color: #000;
  border: solid 10px;
  justify-self: center;
  align-self: center;
  padding: 1em;
  transition: 2000ms ease-in-out;
  font-size: 1em;
  min-width: fit-content;
}

header {
  max-width: 20%;
  max-height: 20%;
  transform: scale(1.1) rotate(370deg);
}

main {
  transform: scale(1.1) rotate(-375deg);
  background-color: #000;
  font-size: 0.8em;
}

main:hover {
  color: rgb(0, 255, 13);
}

#portrait {
  max-width: 200px;
  border-radius: 9999px;
  border: solid 10px #fff;
  transition: 2000ms ease-in-out;
  transform: scale(1.1) rotate(-730deg);
}

#portrait:hover {
  border-color: rgb(0, 255, 13);
}

@media screen and (min-width: 700px) {
  #portrait {
    max-width: 400px;
  }

  main {
    font-size: 1.4em;
  }
}
