* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  background-image: url("/img/nebula.jpg");
  background-size: 100%;
  color: #fff;
  font-family: Poppins;
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #fff;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

main, header {
  background-color: #000;
  border: solid 10px;
  justify-self: center;
  align-self: center;
  padding: 1em;
  transition: 2000ms ease-in-out;
  font-size: 1em;
  min-width: fit-content;
}

header {
  max-width: 20%;
  max-height: 20%;
  transform: scale(1.1) rotate(370deg);
  align-items: center;
}

main {
  transform: rotate(-375deg);
  background-color: #000;
  font-size: 0.8em;
}

main:hover {
  filter: invert() hue-rotate(180deg);
  transform: rotate(-365deg);
}

#portrait {
  max-width: 200px;
  border-radius: 9999px;
  border: solid 10px #fff;
  transition: 2000ms ease-in-out;
  transform: rotate(-730deg);
  /* position: relative; */
  /* top: 50%; */
}

.floating {
  background-color: #000;
  font-size: 1.4em;
  width: min-content;
  padding: 0.6em;
  border: solid 5px #fff;
  position: absolute;
  top: 222%;
  transform: rotate(-10deg);
}

.color {
  color: rgb(255, 141, 47);
}

@media screen and (min-width: 700px) {
  #portrait {
    max-width: 400px;
  }

  header > p {
    font-size: 1.15em;
  }

  main > p {
    font-size: 1.7em;
  }

  .floating {
    top: 250%;
    font-size: 2em;
    border: solid 7px;
  }

  h1 {
    font-size: 2.5em;
  }
}
