:root {
  --accent-color: rgb(255, 141, 47);
  --accent-opposite: rgb(47, 141, 255);
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

html, body {
  height: 100%;
}

body {
  background-image: url("/img/nebula.jpg");
  background-size: 100%;
  color: #fff;
  font-family: Poppins;
}

.glow {
  filter: drop-shadow(0 0 1em #fff);
}

a, a:hover, a:visited {
  text-decoration: none;
  color: #fff;
}

main {
  max-width: 100%;
  height: 100%;
}

.portrait {
  border-radius: 9999px;
  border: solid 5px #fff;
  filter: brightness(105%) opacity(98%);
  min-width: 100%;
  max-width: 100%;
}

.hi {
  transform: rotate(-10deg);
  position: relative;
  left: -15%;
  top: 30%;
  z-index: 1;
}

.and {
  position: relative;
  left: 15%;
  bottom: 100%;
  border-color: var(--accent-color);
}

.you {
  transform: rotate(10deg);
  position: relative;
  top: -90%;
  left: -10%;
}

p {
  filter: drop-shadow(0 0 0.5em rgb(255, 255, 255));
  margin: auto;
  font-size: 2em;
  font-weight: 700;
  width: max-content;
  padding: 0.6em;
  border: solid 5px;
}

.color {
  color: var(--accent-color);
}

.black-bg {
  background-color: black;
  filter: drop-shadow(0 0 20px var(--accent-opposite));
}

@media screen and (mix-width: 600px) {
    
}
